/* icon fonts */
@font-face {
  font-display: inline-block;
  font-family: "posse-icon";
  font-style: normal;
  font-weight: normal;
  src: url("./assets-ph1-website-main/fonts/posse-icon.ttf?bbqgr3") format("truetype"), url("./assets-ph1-website-main/fonts/posse-icon.woff?bbqgr3") format("woff"), url("./assets-ph1-website-main/fonts/posse-icon.svg?bbqgr3#posse-icon") format("svg");
}
i, .icomoon-liga {
  /* speak: never; */
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "posse-icon" !important;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFFFFF;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 1;
  width: 100%;
  height: 60px;
}

.HeaderRight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderTop{
  padding: auto;
  margin: auto;
  gap: 36px;
}

.HeaderTopPage{
  margin: 24px;
}

.HeaderLogo{
  padding: auto auto auto 3%;
  margin: auto auto auto 3%;
}

.HeaderSNS{
  display: flex;
  flex-direction: row;
  /* display: list-item;
    text-align: -webkit-match-parent; */
  
}

.HeaderTwitter,.FooterTwitter{
  width: 25px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  /* margin: auto; */
  padding: 30px;
}

.HeaderTwitter::before,.FooterTwitter::before{
  content: "\ea96";
  color: gray;
}

.HeaderInstagram::before,.FooterInstagram::before{
  content: "\ea92";
  color: gray;
}

.HeaderInstagram,.FooterInstagram{
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  margin: 0;
  padding: 30px;
}

main{
  padding-top: 60px;
}

.MainVisual{
  display: flex;
  justify-content: flex-end;
  right: 0;
  position: relative;
}

.MainVisual img{
  width: 70%;
  border-radius: 10% 0 0 10%;
}

.MainVisual::before{
  content: "";
  width: 100px;
  height: 100px;
  background-color: #00c300;
}

.POSSELine{
  background: url(./assets-ph1-website-main/img/bg-line.jpg) center center/cover;
  border-radius: 56px;
  overflow: hidden;
  padding: 68px;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 1032px;
  color: #FFFFFF;
  width: 100%;
  margin: 0 auto;

}

.POSSELine::before{
  background-color: rgba(0, 113, 188, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.LineIcon:before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
}

/* .POSSELineTytle img{
  width: 3%;
  height: 3%;
} */

.POSSELineText,.POSSELineTytle,.POSSELineAdd{
  position: relative;
}

.POSSELineLink::before{
  content: "\e901";
}

.WhatisPOSSE{
  text-align: center;
}

footer{
  margin: 0 auto;
}

.FooterWeb{
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;;
}

.FooterLogo{
  margin: 20px auto auto auto;
}

.FooterSite{
  margin: 24px;
}

.FooterSNS{
  display: flex;
  flex-direction: row;
}

.FooterCopyright{
  text-align: center;
}