html {
  background-color: #F5F5F8;
  /* overflow: hidden; */
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  width: 100%;
  height: 64px;
  background-color: white;
}

.header-left {
  display: flex;
}

.header-logo {
  margin: auto;
}

.header-week {
  margin: auto auto auto 24px;
  color: #AFC8DB;
}

.header-button {
  background: linear-gradient(to right, #0F71BC, #3BCDFD);
  width: 250%;
  height: 100%;
  text-align: center;
  transform: translateX(-130%);
  border-radius: 50px;
  color: white;
  box-shadow: 0 6px 10px 0 rgba(24, 131, 201, .4);
}

main {
  display: flex;
}

.box-left {
  margin-left: 40px;
  margin-right: 20px;
}

.box-left-up {
  margin: 20px 0 20px 20px;
  display: flex;
}

.time-box {
  background-color: white;
  /* display: inline-block; */
  height: 140px;
  width: 200px;
  padding: 15px;
  margin: 0 1%;
}

.time-title {
  color: #0F71BC;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.time-body {
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  margin: 16px;
}

.time-sub {
  color: #AFC8DB;
  text-align: center;
  font-size: 20px;
}

.graph-bar {
  background-color: white;
  margin-left: 20px;
  /* width: 650px;
  height: 400px; */
  padding: 20px;
}

/* .graph-bar-img{
  width: 600px;
  height: 370px;
  margin: 30px;
} */

.box-right {
  margin-top: 20px;
  margin-right: 40px;
  display: flex;
}

.graph-title {
  padding-left: 20px;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
}

.graph-right {
  width: 330px;
  height: 100%;
  background-color: white;
  /* display: inline-block; */
  vertical-align: top;
  margin: 10px;
}

/* .graph-right img{
  width: 330px;
} */

li {
  display: inline-block;
  color: #666666;
}

.footer-button {
  display: none;
}

.footer-body {
  margin: 20px auto;
  display: flex;
  max-width: 100vw;
}

.footer-date-before {
  border-bottom: solid 4px #3989C7;
  border-left: solid 4px #3989C7;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
}

.footer-date {
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
}

.footer-date-after {
  border-top: solid 4px #E2E9F0;
  border-right: solid 4px #E2E9F0;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
}

/* ここからモーダル */

/* .active::before{
  content: '';
  background-color: rgba(0,0,0,.5);
  z-index: 3;
  width: 100%;
  position: absolute;
  height: 100%;
} */

.modal-wrapper {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  /* transform: translateY(-64px); */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  z-index: 3;
  background-color: white;
  width: 900px;
  height: 550px;
  padding: 56px;
  /* display: flex; */
  border-radius: 40px;
  transform: translate(30%, 80px);
}

/* .modal::before {
  content: '';
  background-color: rgba(0,0,0,.5);
  z-index: 3;
  width: 100%;
  position: absolute;
  height: 100%;
} */

.modal-close-button {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #F5F5F8;
  border-radius: 50%;
  padding: 20px;
  transform: translate(1950%, -90%);
}

.modal-close-button::before,
.modal-close-button::after {
  /* 共通設定 */
  content: "";
  position: absolute;
  width: 2px;
  /* 棒の幅（太さ） */
  height: 25px;
  /* 棒の高さ */
  background: #666666;
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ここからカレンダー */

.calendar {
  max-width: 600px;
  margin: 0 auto;
  color: #666;
}

#header {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
  text-align: center;
  width: 100%;
}

table {
  outline: 2px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #000;
}

th,
td {
  outline: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/*日曜日*/
td:first-child {
  color: red;
}

/*土曜日*/
td:last-child {
  color: blue;
}

/*前後月の日付*/
td.disabled {
  color: #ccc;
}

/*本日*/
td.today {
  background-color: #D65E72;
  color: #fff;
}

/*ボタン*/
#next-prev-button {
  position: relative;
}

#next-prev-button button {
  cursor: pointer;
  background: #B78D4A;
  color: #fff;
  border: 1px solid #B78D4A;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}

#next-prev-button button:hover {
  background-color: #D4BB92;
  border-color: #D4BB92;
}

#prev {
  float: left;
}

#next {
  float: right;
}


#modal-calendar {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .4);
  width: 700px;
  height: 470px;
  padding: 40px 56px;
  transform: translate(10%, 0%);
  z-index: 100;
}

.modal-calender {
  height: 500;
}

.td:hover,
#data:hover {
  cursor: pointer;
}

/* カレンダーおわり */



.modal-left {
  width: 374px;
  margin-right: 20px;
}

.modal-title {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.modal-textbox {
  display: block;
  background-color: #F5F5F8;
  padding: 14px;
  width: 100%;
  border-radius: 10px;
  margin: 5px 0 35px 0;
}

.modal-checkbox-body {
  display: inline-block;
}

.modal-checkbox-text {
  display: inline-block;
  background-color: #F5F5F8;
  padding: 10px;
  margin: 3px;
  border-radius: 20px;
}

.modal-right {
  width: 374px;
  margin-left: 20px;
}

.modal-twitter-comment-textbox {
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  height: 250px;
}

.modal-twitter-share-checkbox-text {
  background-color: white;
}

.modal-button {
  background: linear-gradient(to right, #0F71BC, #3BCDFD);
  width: 80%;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  color: white;
  box-shadow: 0 6px 10px 0 rgba(24, 131, 201, .4);
  transform: translateX(-50%);
}

.modal-close {
  display: none;
}

.modal-open {
  display: flex;
}

.modal-off {
  display: none;
}

/* ここからロード画面 */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 20% auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #147FC3;
  border-right: 1.1em solid #2197D7;
  border-bottom: 1.1em solid #32BBF1;
  border-left: 1.1em solid rgba(0, 0, 0, 0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-load-on {
  display: block;
}

/* ロード画面おわり */

.modal-complete {
  width: 900px;
  height: 550px;
  padding: 15%;
}

.modal-complete-on {
  display: block;
}

.modal-complete-check {
  transform: translateX(-8%);
}

.modal-complete-check-text {
  text-align: center;
  color: #BEE360;
  margin: 10px;
  font-size: 20px;
}

.modal-complete-check-body {
  background-color: #BEE360;
  margin: 0 auto;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.modal-complete-check-img {
  margin: 15px;
}

.modal-complete-check-img:before {
  content: '';
  position: absolute;
  display: block;
  top: 28%;
  left: 47%;
  width: 40px;
  height: 25px;
  border-left: 4px solid #FFFFFD;
  border-bottom: 4px solid #FFFFFD;
  transform: rotate(-45deg);
}

.modal-complete-text {
  text-align: center;
  margin: 35px;
  line-height: 1.5rem;
  font-size: 20px;
}

/* グラフここから */
#graph-bar {
  /* transform: translateY(20%); */
}

#graph-lang {
  position: relative;
  width: 100%;
  transform: translateY(10%);
}

#graph-content {
  position: relative;
  width: 100%;
  transform: translateY(10%);
}

@media (max-width: 768px) {
  html {
    overflow: auto;
  }

  .header-button {
    display: none;
  }

  main {
    display: block;
  }

  .box-left {
    margin: 0;
  }

  .time-box {
    width: 30%;
    margin: 1%;
    padding: 16px 0;
  }

  .time-title {
    font-size: 100%;
  }

  .time-body {
    font-size: 190%;
    text-align: center;
  }

  .time-sub {
    font-size: 100%;
  }

  .graph-bar {
    width: 90%;
  }

  .box-right {
    display: flex;
  }

  .graph-right {
    width: 46%;
    margin-left: 20px;
  }

  /* @media モーダルここから */

  .modal-wrapper {
    position: absolute;
    /* transform: translateY(-85%); */
  }

  .modal {
    transform: translate(0, 10%);
    border-radius: 40px 40px 0 0;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    position: absolute;
  }

  .modal-open {
    display: block;
  }

  .modal-off {
    display: none;
  }

  .modal-load-on {
    display: block;
  }


  .modal-title {
    font-size: 8px;
  }

  .modal-checkbox-text {
    font-size: 8px;
  }

  .modal-date {
    width: 80%;
  }

  #modal-calendar{
    width: 80%;
    padding: 16px;
    transform: translateX(-2%);
  }

  .modal-textbox {
    margin: 0;
    padding: 8px;
  }

  .modal-lang {
    width: 80%;
  }

  .modal-right {
    margin-top: 20px;
    margin-left: 0;
  }

  .modal-time {
    width: 80%;
  }

  .modal-twitter-comment {
    width: 80%;
  }

  textarea {
    height: 100px;
  }

  .modal-close-button {
    transform: translate(280px, -30px);
    padding: 16px;
  }

  .modal-close-button::before,
  .modal-close-button::after {
    /* 共通設定 */
    content: "";
    position: absolute;
    width: 2px;
    /* 棒の幅（太さ） */
    height: 20px;
    /* 棒の高さ */
    background: #666666;
  }

  .modal-complete-on {
    display: block;
    transform: translateX(-25%);
  }

  .modal-complete-check-img:before {
    left: 47.5%;
  }

  .modal-button {
    margin-left: 40%;
  }

  /* モーダルおわり */

  .footer-button {
    display: block;
    background: linear-gradient(to right, #0F71BC, #3BCDFD);
    width: 80%;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(24, 131, 201, .4);
    margin: 10px auto;
  }
}