/* icon fonts */
@font-face {
  font-display: inline-block;
  font-family: "posse-icon";
  font-style: normal;
  font-weight: normal;
  src: url("../assets-ph1-website-main/fonts/posse-icon.ttf?bbqgr3") format("truetype"), url("../assets-ph1-website-main/fonts/posse-icon.woff?bbqgr3") format("woff"), url("../assets-ph1-website-main/fonts/posse-icon.svg?bbqgr3#posse-icon") format("svg");
}

i, .icomoon-liga {
  /* speak: never; */
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "posse-icon" !important;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}

html{
  scroll-padding-top: 60px;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFFFFF;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  height: 60px;
  z-index: 3;
}

.HeaderRight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderTop{
  padding: auto;
  margin: auto;
  gap: 36px;
}

.HeaderTopPage{
  margin: 24px;
}

.HeaderLogo{
  padding: auto auto auto 3%;
  margin: auto auto auto 3%;
}

.HeaderSNS{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.HeaderTwitter,.FooterTwitter,.HamburgerTwitter{
  width: 25px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  padding: 18px;
  margin: 10px;
}

.HeaderTwitter::before,.FooterTwitter::before,.HamburgerTwitter::before{
  content: "\ea96";
  color: gray;
}

.HeaderInstagram::before,.FooterInstagram::before,.HamburgerInstagram::before{
  content: "\ea92";
  color: gray;
}

.HeaderInstagram,.FooterInstagram,.HamburgerInstagram{
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  padding: 18px;
  margin: 10px;
}

.Hamburger{
  display: none;
}

.HamburgerBarTrue{
  width: 34px;
  height: 20px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  margin: 20px 24px auto 0;
  display: none;
}

.HamburgerBarFalse{
  width: 34px;
  height: 20px;
  margin: 20px 24px auto 0;
  transform: translateX(45%);
  display: none;
}

.HamburgerBarFalse::after, .HamburgerBarFalse::before{
  content: "";
  position: absolute;
  /* top: 50%;
  left: 50%; */
  width: 1px;
  height: 30px;
  background: #333333;
}

.HamburgerBarFalse::before{
  transform: rotate(45deg);
}

.HamburgerBarFalse::after{
  transform: rotate(-45deg);
}

main{
  padding-top: 60px;
}

.Hero{
  max-height: 750px;
}

.MainVisual{
  display: flex;
  justify-content: flex-end;
  right: 0;
  top: 0;
  /* position: relative; */
  z-index: 1;
}

.MainVisual img{
  width: 976px;
  border-radius: 10% 0 0 10%;
}

/* .MainVisual::before{
  content: "学生プログラミング";
  width: 500px;
  height: 281px;
  background-color: #EFF2F5;
  transform: translate(75px,140px);
  border-radius: 24px;
} */

.Hero{
  position: relative;
}

.HeroText{
  position: absolute;
  /* transform: translate(200px,-500px); */
  margin: auto;
  top: 0;
  left: 0;
  right: 45%;
  bottom: 0;
  z-index: 2;
  background-color: #EFF2F5;
  width: 500px;
  height: 281px;
  border-radius: 24px;
  padding: 48px;
}

.HeroTextTop{
  color: #0071BC;
  font-weight: 700;
  transform: translateY(-10px);
}

.HeroTextMain{
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  transform: translateY(10px);
}

.HeroScroll{
  padding: 0 0 0 40px;
  gap: 6px;
  font-size: 14px;
}

.HeroScroll::before{
  content: "";
  background-color: #ccc;
  border-radius: 8px;
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
}

.About{
  margin: 50px 0 20px 0;
  position: relative;
  height: 400px;
}

.AboutTitle{
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.AboutmainTitle{
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

.AboutsubTitle{
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #0071BC;
}

.AboutBody{
  display: flex;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 24px auto;
}

.AboutBodyimg{
  width: 472px;
  /* position: absolute; */
  border-radius: 24px;
  margin: auto 40px auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 50%;
  height: auto;
}

.AboutBodyText{
  width: 472px;
  /* position: absolute; */
  margin: auto auto auto 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}

.POSSELine{
  background: url(../assets-ph1-website-main/img/bg-line.jpg) center center/cover;
  border-radius: 56px;
  overflow: hidden;
  padding: 68px;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 1032px;
  color: #FFFFFF;
  width: 100%;
  margin: 100px auto 50px auto;
}

.POSSELine::before{
  background-color: rgba(0, 113, 188, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* .LineIcon{
  font-size: 36px;
  font-weight: 300;
  line-height: 180%;
  padding-right: 0.1em;

} */

.LineTytle{
  display: inline-flex;
}

.POSSELineTytle{
  font-size: 36px;
  font-weight: 700;
  line-height: 180%;
  text-align: center;
}

.LineIcon{
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.LineIcon:before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
  font-size: 40px;
  margin: 10px;
}

/* .POSSELineTytle img{
  width: 3%;
  height: 3%;
} */

.POSSELineText,.POSSELineTytle,.POSSELineAddText,.LineIcon{
  position: relative;
}

.POSSELineText{
  margin-top: 10px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 200%;
}

.POSSELineAdd{
  /* line-height: 100px; */
  border-radius: 96px;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-color: #FFFFFF;
  color: #666666;
  /* padding: 15px 20px 15px 150px; */
  margin: 15px auto 0 auto;
  position: relative;
  width: 320px;
  height: 50px;
}


.POSSELineAddText{
  width: 320px;
  height: 50px;
  transform: translateY(25%);
}

.POSSELineAddTextBody{
  display: inline-block;
}

.POSSELineLink{
  display: inline-block;
  transform: translateX(100px);
}

.POSSELineLink::before{
  content: "\e901";
}

footer{
  margin: 0 auto;
}

.FooterWeb{
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  color: #666666;
  font-weight: 400;
  font-size: 14px;
}

.FooterLogo{
  margin: 20px auto auto auto;
}

.FooterLineIcon{
  margin-right: 10px;
}

.FooterLineIcon::before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
  font-size: 40px;
}

.FooterLine{
  background-color: #5FDF5B;
  width: 288px;
  height: 80px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin: 20px;
  position: fixed;
  right: 16px;
  bottom: 16px;
  border-radius: 16px;
  padding: 22px;
  display: flex;
}

.FooterLineLink{
  margin: auto 0 auto 40px;
}

.FooterLineLink::before{
  content: "\e901";
  font-size: 20px;
}

.FooterLineTextSP{
  display: none;
}

.FooterSite{
  margin: 24px;
}

.FooterSNS,.HamburgerSNS{
  display: flex;
  flex-direction: row;
  margin: 12px auto 40px auto;
}

.FooterCopyright{
  text-align: center;
  color: #666666;
  margin: 24px;
  font-weight: 400;
  font-size: 10px;
}

@media (max-width: 750px) {
/* .HamburgerBarTrue{
  display: block;
}

.HamburgerBarFalse{
  display: block;
} */

.active{
  display: block;
}

  .Hamburger{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
  }

.HamburgerText{
  text-align: center;
  margin-top: 70px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #333333;
}

.HamburgerTextAbout{
  margin-bottom: 24px;
}

.HamburgerLineIcon{
  margin: 0px 15px 0 30px;
  display: inline-block;
  transform: translateY(15%);
}

.HamburgerLineIcon::before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
  font-size: 30px;
}

.HamburgerLine{
  display: flex;
  padding-left: 15px;
  margin: 200px 0 0 15px;
  background-color: #5FDF5B;
  width: 343px;
  height: 60px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  /* position: fixed; */
  bottom: 160px;
  border-radius: 30px;
}

.HamburgerLineText{
  display: inline-block;
  margin: 8px;
}

.HamburgerLineLink{
  margin: 10px;
  display: inline-block;
  transform: translateX(40px);
}

.HamburgerLineLink::before{
  content: "\e901";
  font-size: 20px;
}

.HamburgerSiteText{
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #666666;
  margin: 24px;
}

.HamburgerSNS{
  justify-content: center;
  margin-top: 40px;
}

.HeaderRight{
  display: none;
}

.MainVisual img{
  max-width: 100%;
  border-radius: 0;
}

.HeroScroll{
  display: none;
}

.HeroText{
  top: 105%;
  right: 0;
  width: 360px;
  height: 110px;
  padding: 24px;
}

.HeroTextTop{
  font-size: 12px;
  line-height: 22px;
  transform: translateY(0);
}

.HeroTextMain{
  font-size: 28px;
  line-height: 42px;
  transform: translateY(0);
  margin-top: 10px;
}

.About{
  margin-top: 100px;
}

.AboutmainTitle{
  font-size: 24px;
  line-height: 43px;
}

.AboutsubTitle{
  font-size: 14px;
  line-height: 25px;
}

.AboutBody{
  display: block;
}

.AboutBodyimg{
  max-width: 95%;
  margin: 0 10px;
}

.AboutBodyText{
  width: 95%;
  font-size: 14px;
  line-height: 25px;
  margin: 10px;
}

.LineTytle{
  display: block;
}

.POSSELineTytle{
  font-size: 24px;
line-height: 43px;
padding-top: 10px;
}

.POSSELineText{
  font-size: 14px;
line-height: 22px;
}

.POSSELineAdd{
  width: 80%;
}

.POSSELine{
  margin: 220px 10px 100px 10px;
  width: 95%;
  height: 372px;
  padding: 30px 24px;
}

.POSSELineTytle{
  font-size: 24px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
}

.POSSELineText{
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

.POSSELineAdd{
  margin-top: 34px;
  width: 295px;
}

.POSSELineAddText{
  transform: translate(-5%, 25%);
}

.POSSELineAddTextBody{
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  transform: translateX(25%);
}

.POSSELineLink{
  transform: translateX(90px);
}

.FooterLine{
  width: 100%;
  border-radius: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.FooterLineText{
  display: none;
}

.FooterLineTextSP{
  display: block;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
}

.FooterLineIcon{
  margin: auto;
}

.FooterLineLink{
  margin: auto;
}
}