/* icon fonts */
@font-face {
  font-display: inline-block;
  font-family: "posse-icon";
  font-style: normal;
  font-weight: normal;
  src: url("../assets-ph1-website-main/fonts/posse-icon.ttf?bbqgr3") format("truetype"), url("../assets-ph1-website-main/fonts/posse-icon.woff?bbqgr3") format("woff"), url("../assets-ph1-website-main/fonts/posse-icon.svg?bbqgr3#posse-icon") format("svg");
}
i, .icomoon-liga {
  /* speak: never; */
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "posse-icon" !important;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFFFFF;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 1;
  width: 100%;
  height: 60px;
  z-index: 4;
}

.HeaderRight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderTop{
  padding: auto;
  margin: auto;
  gap: 36px;
}

.HeaderTopPage{
  margin: 24px;
}

.HeaderLogo{
  padding: auto auto auto 3%;
  margin: auto auto auto 3%;
}

.HeaderSNS{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.HeaderTwitter,.FooterTwitter{
  width: 25px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  padding: 18px;
  margin: 10px;
}

.HeaderTwitter::before,.FooterTwitter::before{
  content: "\ea96";
  color: gray;
}

.HeaderInstagram::before,.FooterInstagram::before{
  content: "\ea92";
  color: gray;
}

.HeaderInstagram,.FooterInstagram{
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  padding: 18px;
  margin: 10px;
}

main{
  padding-top: 60px;
}

.QuizTitle{
  background: url(../assets-ph1-website-main/img/quiz/bg-hero.jpg) center center/cover;
  padding: 100px 0 100px 250px;
}

.QuizTitleBodySubText{
  line-height: 180%;
  color: #fff;
}

.QuizTitleBodyText{
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  color: #fff;
  padding-top: 15px;
}

.Q1Q,.Q2Q,.Q3Q,.Q4Q,.Q5Q,.Q6Q{
  margin: 100px 228px 0 228px;
}

.Q1QTitle,.Q2QTitle,.Q3QTitle,.Q4QTitle,.Q5QTitle,.Q6QTitle{
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
  background-color: #0071BC;
  border-radius: 8px;
  width: 85px;
  height: 65px;
  text-align: center;

}

.Q1QBody,.Q2QBody,.Q3QBody,.Q4QBody,.Q5QBody,.Q6QBody{
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #333333;
}

.Q1A,.Q2A,.Q3A,.Q4A,.Q5A,.Q6A{
  padding-top: 50px;
}

.Q1ATitle,.Q2ATitle,.Q3ATitle,.Q4ATitle,.Q5ATitle,.Q6ATitle{
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
  background-color: #E34E70;
  border-radius: 8px;
  width: 58px;
  height: 65px;
  text-align: center;
}

.Q1Qimg,.Q2Qimg,.Q3Qimg,.Q4Qimg,.Q5Qimg,.Q6Qimg{
  width: 70%;
  margin: 20px 150px;
}

.Q1A,.Q2A,.Q3A,.Q4A,.Q5A,.Q6A{
  margin: 0 228px 0 228px;
}

.Q1AChoice,.Q2AChoice,.Q3AChoice,.Q4AChoice,.Q5AChoice,.Q6AChoice{
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  justify-content: space-between;
}

.Q1A-1,.Q1A-2,.Q1A-3,.Q2A-1,.Q2A-2,.Q2A-3,.Q3A-1,.Q3A-2,.Q3A-3,.Q4A-1,.Q4A-2,.Q4A-3,.Q5A-1,.Q5A-2,.Q5A-3,.Q6A-1,.Q6A-2,.Q6A-3{
  border: 5px solid #EEEEEE;
  border-radius: 8px;
  padding: 24px;
  margin: 14px 0;
  cursor: pointer;
}

.Q1A-1Deco,.Q1A-2Deco,.Q1A-3Deco,.Q2A-1Deco,.Q2A-2Deco,.Q2A-3Deco,.Q4A-1Deco,.Q4A-2Deco,.Q4A-3Deco,.Q5A-1Deco,.Q5A-2Deco,.Q5A-3Deco,.Q6A-1Deco,.Q6A-2Deco,.Q6A-3Deco{
  margin-left: 170px;
}

.Q3A-1Deco,.Q3A-2Deco,.Q3A-3Deco{
  margin-left: 80px;
}


.Q1A-1Deco::after,.Q1A-2Deco::after,.Q1A-3Deco::after,.Q2A-1Deco::after,.Q2A-2Deco::after,.Q2A-3Deco::after,.Q3A-1Deco::after,.Q3A-2Deco::after,.Q3A-3Deco::after,.Q4A-1Deco::after,.Q4A-2Deco::after,.Q4A-3Deco::after,.Q5A-1Deco::after,.Q5A-2Deco::after,.Q5A-3Deco::after,.Q6A-1Deco::after,.Q6A-2Deco::after,.Q6A-3Deco::after{
  content: "\e903";
  color: #333333;
}

.Q1AEvidence,.Q4AEvidence,.Q6AEvidence{
  background-color: #F6F6F6;
  border-radius: 8px;
  padding: 24px;
  margin: 16px 0;
}

.Q1AEvidenceDeco::before,.Q4AEvidenceDeco::before,.Q6AEvidenceDeco::before{
  content: "\e902";
}

.POSSELine{
  background: url(../assets-ph1-website-main/img/bg-line.jpg) center center/cover;
  border-radius: 56px;
  overflow: hidden;
  padding: 68px;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 1032px;
  color: #FFFFFF;
  width: 100%;
  margin: 100px auto 50px auto;
}

.POSSELine::before{
  background-color: rgba(0, 113, 188, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* .LineIcon{
  font-size: 36px;
  font-weight: 300;
  line-height: 180%;
  padding-right: 0.1em;

} */

.POSSELineTytle{
  font-size: 36px;
  font-weight: 700;
  line-height: 180%;
}

.LineIcon:before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
  font-size: 110%;
  vertical-align: baseline;
  margin: 10px;
}

/* .POSSELineTytle img{
  width: 3%;
  height: 3%;
} */

.POSSELineText,.POSSELineTytle,.POSSELineAddText{
  position: relative;
}

.POSSELineText{
  margin-top: 10px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 200%;
}

.POSSELineAddText{
  line-height: 100px;
  border-radius: 96px;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-color: #FFFFFF;
  color: #666666;
  padding: 15px 20px 15px 150px;
}

.POSSELineLink{
  margin-left: 100px;
}

.POSSELineLink::before{
  content: "\e901";
}

footer{
  margin: 0 auto;
}

.FooterWeb{
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  color: #666666;
  font-weight: 400;
  font-size: 14px;
}

.FooterLogo{
  margin: 20px auto auto auto;
}

.FooterLineIcon{
  margin-right: 10px;
}

.FooterLineIcon::before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
  font-size: 40px;
}

.FooterLine{
  background-color: #5FDF5B;
  width: 288px;
  height: 80px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin: 20px;
  position: fixed;
  right: 16px;
  bottom: 16px;
  border-radius: 16px;
  padding: 22px;
  display: flex;
}

.FooterLineLink{
  margin: auto 0 auto 40px;
}

.FooterLineLink::before{
  content: "\e901";
  font-size: 20px;
}

.FooterSite{
  margin: 24px;
}

.FooterSNS{
  display: flex;
  flex-direction: row;
  margin: 12px auto 40px auto;
}

.FooterCopyright{
  text-align: center;
  color: #666666;
  margin: 24px;
  font-weight: 400;
  font-size: 10px;
}

/* 正解不正解の表示のところ */
.is-correctTitle{
  color: #E34E70;
}

.is-incorrectTitle{
  color: #0071BC;
}

.is-correctTitle,.is-incorrectTitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05em;
  padding: 20px 0 0 40px;
}

.is-selected{
  border: 5px solid #0071BC;
}

.is-correctBox{
  background: #FFF2F5;
  border-radius: 8px;
}

.is-incorrectBox{
  background: #EFF2F5;
  border-radius: 8px;
}

.Correct{
  display: none;
}

.is-correctBox,.is-incorrectBox{
  height: 143px;
  display: block;
}

.CorrectContent{
  margin-top: 15px;
}

.CorrectContentLabel{
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
  color: #333333;
  padding: 0 20px 0 40px;
  /* display: none; */
}

.is-correctBox.is-incorrectBox{
  height: 143px;
}

.js-answerText{
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
}